.text-position,
.nav,
.books-details {
    display: inline-flex;
}

.set-icn {
    font-size: 20px;
    padding: top;
    padding-top: 17px;
}

header {
    box-shadow: 0px 0px 0px 0px!important;
    padding: 10px;
    color: white;
}

header,
section {
    background: black!important;
}

.text-position,
.main-header,
.books-details,
.student-details {
    width: 100%;
}

i {
    color: white!important;
}

#menu-2 {
    display: none;
}

.log-in-header,
span {
    display: none;
}

#menu-3:checked~section,
span,
li,
.main-log {
    width: 222px;
    display: block!important;
}

#menu-2:checked~header .log-in-header {
    display: block;
    padding: 10px;
    position: absolute;
    right: 0;
    background: rgb(0 0 0);
    box-shadow: 5px 8px 10px -1px grey;
}

.btn {
    background: rgb(255 255 255)!important;
    margin: 10px 0px;
}

.img-hide-show {
    display: block;
    position: absolute;
    right: 34px;
    top: 18px;
    font-size: 41px;
    color: rgb(255 104 92);
    z-index: 99999;
    padding: 10px;
}

.section {
    padding-top: 0px !important;
}

.login {
    position: relative;
    right: -34px;
    height: 61px!important;
    top: -18px;
    border-radius: 50%;
}

.log-in-header {
    top: 50px;
}

section {
    position: fixed;
    margin-top: 0px;
    padding-top: 32px;
    width: 64px;
    height: 100%;
}

.pad-custom>ul>li {
    padding: 20px 0px;
}

.main-header ul,
li {
    display: block!important;
}

section {
    overflow: scroll;
}

i {
    padding: 0px 11px;
}

.icn {
    margin-left: -156px;
}

form {
    display: flex;
}

#menu-3,
nav {
    display: none!important;
}

@media (max-width:1024px) {
    nav {
        position: fixed;
        bottom: 0;
        background: black!important;
        color: rgb(255 255 255)!important;
        box-shadow: 0px 0px 21px -7px black;
        width: 100%;
    }
    li {
        width: 100%;
    }
    .login {
        position: relative;
        right: -34px;
        height: 61px!important;
        top: -18px;
    }
    header {
        padding: 0px;
        background-color: black!important;
    }
    #menu-2,
    #menu-3 {
        display: none;
    }
    .main-header>ul,
    a {
        color: rgb(255 255 255)!important;
    }
    .log-in-header {
        display: none;
    }
    #menu-2:checked~header .log-in-header {
        display: block;
        padding: 10px;
        position: absolute;
        right: 0;
        background: black;
        box-shadow: 5px 8px 10px -1px grey;
    }
    .btn {
        background: rgb(255 255 255)!important;
        margin: 10px 0px;
    }
    .log-in-header>ul>li {
        display: block!important;
    }
    .main-header>ul,
    li {
        display: inline-flex!important;
    }
    nav {
        display: block!important;
        overflow-x: scroll;
    }
    section {
        display: none!important;
    }
    .log-in-header {
        top: 84px;
    }
    .log-in-arrow {
        display: none;
    }
    i {
        color: white!important;
    }
    .student-details,
    .more-details {
        font-weight: 900;
        padding: 10px;
        width: 100%;
        letter-spacing: 1px;
    }
    .slide {
        box-shadow: 0px 3px 10px 0px black;
        margin: 8px 0px;
    }
    h1 {
        font-size: 20px!important;
    }
    main {
        height: 466px;
        overflow: hidden;
    }
    .book-img {
        height: 112px!important;
        padding: 10px;
        width: 100%;
    }
    .student-img {
        padding-top: 21px;
        border-radius: 9px;
    }
}